RewriteEngine On
RewriteBase /

# Force HTTPS and remove WWW 
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [OR,NC]
RewriteCond %{HTTPS} off  
RewriteRule ^(.*)$ https://cherokeecessions.com [R=301,L]

RewriteRule ^index.html$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]


#### Force HTTPS://WWW and remove trailing / from files ####

# Remove trailing slash from non-filepath urls
# RewriteCond %{REQUEST_URI} /(.+)/$
# RewriteRule ^ https://cherokeecessions.com/%{REQUEST_FILENAME} [R=301,L]